body {
    overflow: hidden;
}

/*----------profile------------*/

/*-----scroll-style------*/

#profile::-webkit-scrollbar {
    width: 8px;
  }
  
   #profile::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 4px;
  }
  
  #profile::-webkit-scrollbar-thumb:active {
    background-color: #636363;
  }
  
  #profile::-webkit-scrollbar-thumb:hover {
    background: #636363;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   #profile::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  #profile::-webkit-scrollbar-track:hover, 
  #profile::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }

.profile-img {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #FCCB90;
    overflow: visible;
}



.profile-img svg {
    background-image: url(https://s6.uupload.ir/files/your_image_here👈_22nl.png);
    background-size: cover;
}

.project-container button{
    background-color: #bf9fa4b5;
}
/*----------users---------------*/

#users .users {
    background-color: #403E51;
}

.commands-container div:focus , .commands-container div:hover {
  background: #bf9fa4b5;
}

.card {
  width: 300px;
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}
.card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
}
.card-description {
  font-weight: 100;
  color: rgb(102, 102, 102);
}
.card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}
.secondary {
  background-color: #ddd;
}
.secondary:hover {
  background-color: rgb(197, 197, 197);
}
.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.exit-button:hover svg {
  fill: black;
}
.exit-button svg {
  fill: rgb(175, 175, 175);
}
